/**/

.field2 { position:relative; font-family: Arial; text-transform:uppercase; font-weight:bold; display:inline-block; }

    label { position:absolute; left:0; top:0; transition: all .2s linear; color:#999; font-size:10px; }

    input { margin-top:15px; border:1px solid #999; padding:3px 2px; }

    #txt_search_word:invalid + label { top:3px; opacity:0; }
    #txt_search_word:valid + label { opacity:1; top:0; }
    #txt_search_word:focus { outline:none; }
    #txt_search_word:focus + label { color:#33A; }
    
    .k-input:invalid + label { top:3px; opacity:0; }
    .k-input:valid + label { opacity:1; top:0; }
    .k-input:focus { outline:none; }
    .k-input:focus + label { color:#33A; }
    
    
.login_body {
background-color: #F0F0F0;

width: 50%;
padding: 2%;
/*para Firefox*/
-moz-border-radius: 0px 0px 5px 5px;
/*para Safari y Chrome*/
-webkit-border-radius: 0px 0px 5px 5px;
/* para Opera */
border-radius: 0px 0px 5px 5px;
vertical-align:top;
}


.login_header {
background-color: #9FCDFE;
height: 20%;
width: 50%;
padding: 2%;
/*para Firefox*/
-moz-border-radius: 5px 5px 0px 0px;
/*para Safari y Chrome*/
-webkit-border-radius: 5px 5px 0px 0px;
/* para Opera */
border-radius: 5px 5px 0px 0px;
vertical-align:top;
}

/*CSS para frontend*/
.frontend_header {
background-color: #9FCDFE;
height: 5%;
width: 100%;
padding: 1%;
/*para Firefox*/
-moz-border-radius: 5px 5px 0px 0px;
/*para Safari y Chrome*/
-webkit-border-radius: 5px 5px 0px 0px;
/* para Opera */
border-radius: 5px 5px 0px 0px;
vertical-align:top;
}

.frontend_cell {
background-color: #9FCDFE;

}

.frontend_no_results_search {
    width: 50%;
    height: 70%;
    background-color: #f0f0f0;
    box-shadow: 10px 10px 5px #888888;
    padding: 2%;
    alignment-baseline:middle;
}

.req_price_paint {
    font-weight:bold;
    pointer-events: none;
    cursor: default;
}

/*CSS para Backend */

.backend_header {
background-color: #9FCDFE;
height: 5%;
width: 100%;
padding: 1%;
/*para Firefox*/
-moz-border-radius: 5px 5px 0px 0px;
/*para Safari y Chrome*/
-webkit-border-radius: 5px 5px 0px 0px;
/* para Opera */
border-radius: 5px 5px 0px 0px;
vertical-align:top;
}

.backend_cell {
background-color: #9FCDFE;
}

.dlg-no-title .ui-dialog-titlebar {
    display: none;
}

        
           